/* colors */
$momento-color: rgb(252, 133, 255);
$lab-coop-color: #008CBA;
$en-hu-translator-color: rgb(98, 226, 192);
$prezi-color: rgb(149, 185, 248);
$tech-tag-color: rgb(255, 255, 255);

html { 
  background: url(../images/nyugati-large.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

body {
    color: white;
    background: transparent;
    text-align: center;
    overflow-x: hidden;
}

h1 {
    font-size: 1.75em; 
    font-family: 'Georgia', sans-serif;
    letter-spacing: 0.2em;
    color: white; 
    background: black; 
    margin: 0;
    padding: 0.25em 0 0.25em 0;
    border-bottom: 2px white solid;
}

a {
    color: inherit;
    border-bottom: 2px solid white;
}

.welcome-text {
    font-size: 1.25em;
    padding: 1em 0;
    background: rgba(0,0,0,0.8);

    a {
        white-space: nowrap;
    }

    p {
        width: auto;
        font-size: 1.5em; 
        font-family: 'Georgia', sans-serif;

        &:last-child {
          font-size: 1.5em;
        }
    }
}

.nav {
    font-size: 2.5em;
    font-family: "Lucida Console", Monaco, monospace;

    ol {
        margin: 0;
    }

    a {
        margin: 0 0.5em;
        li {
            display: inline-block;
            padding: 0.5em 0.25em;
            background: rgba(0,0,0,0.8);
    
            span {
                font-size: 1.5em;
                padding: 0.1em 0.25em;
                border-bottom: 3px solid white;  
            }
    
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.projects {
    ol.projects {
        margin: 0;
        list-style-type: none;

        li {
            color: inherit;            
            background: rgba(0, 0, 0, 0.8);
            font-size: 1em;

            padding: 2em 0; 

            $li-border-size: 2px;
            $li-border-color: rgba(255, 255, 255, 1);
            border-top: $li-border-size $li-border-color solid;
            border-bottom: $li-border-size $li-border-color solid;
            margin-top: -$li-border-size;

            &:hover {
                background: rgba(0, 0, 0, 0.9);
                cursor: pointer;
            }

            p {
                line-height: 1.2;
                padding: 0 0.25em;

                &.project-title {
                    font-size: 2em;
                    font-family: 'Georgia', serif;
                    letter-spacing: 0.2em;

                    &.fleetview {
                        color: $fleetview-color;
                    }
                    &.en-hu-translator {
                        color: $en-hu-translator-color;
                    }
                    &.prezi {
                        color: $prezi-color;
                    }
                    &.lab-coop {
                        color: $lab-coop-color;
                    }
                    &.momento {
                        color: $momento-color;
                    }
                }
                &.project-subtitle {
                    font-size: 1.5em;
                    color: rgb(252, 245, 218);
                    font-family: 'Georgia', serif;
                    letter-spacing: 0.2em;
                    font-weight: lighter;
                }
                &.project-tags {
                    color: $tech-tag-color;
                    font-size: 1.25em;
                    font-family: 'Helvetica Neue', sans-serif;
                    letter-spacing: 0.15em;
                }
            }
        }
    }
}

.project-detail {
    $project-color: $tech-tag-color;

    &.fleetview {
      .project-title, .highlight {
        color: $fleetview-color;
      }
    }
    &.en-hu-translator {
      .project-title, .highlight {
        color: $en-hu-translator-color;
      }
    }
    &.prezi {
      .project-title, .highlight {
        color: $prezi-color;
      }
    }
    &.lab-coop {
      .project-title, .highlight {
        color: $lab-coop-color;
      }
    }
    &.momento {
      .project-title, .highlight {
        color: $momento-color;
      }
    }

    background: rgba(0, 0, 0, 0.8);

    .at-a-glance-info {

        p {
            line-height: 1.2;
            padding: 0.25em;
            margin: 0;

            &.project-title {
                font-size: 2em; 
                font-family: 'Georgia', sans-serif;
                letter-spacing: 0.2em;
            }

            &.project-tags {
                color: $tech-tag-color;
                font-family: 'Helvetica Neue', sans-serif;
                letter-spacing: 0.15em;
                line-height: 1.5;
            }
        }
    }

    .visual {
        margin: 1.5em 0 0.75em 0;

        .screenshot-grid {
            margin: 0;
            padding: 0 1.5em;
            img {
                border: 2px solid white;
            } 
            li {
                padding: 0 0.25em;

                &.prezi{
                  a.alt-image {
                    display: none;
                  }
                }
                @media #{$small-only} {
                  &.prezi{
                    iframe {
                      display: none;
                    }
                    a.alt-image {
                      display: inherit;
                    }
                  }
                }
            }
        }
    }
    .resources {
        margin: 0.75em;

        ul {
            margin: 2em 0;
            list-style-type: none;
            li {
                display: inline-block;
                margin: 1em;
                color: white;
                font-size: 1em;
                font-family: 'Helvetica Neue', sans-serif;
                letter-spacing: 0.1em;
            }
        }
    }
    .details {
        $subtitle-color: rgb(252, 245, 218);

        .project-subtitle {
            color: $subtitle-color;
            font-size: 1.65em;
            font-family: 'Georgia', serif;
            letter-spacing: 0.2em;
            font-weight: lighter;

            margin: 0;
        }        
        .date-time-frame {
            color: $subtitle-color;
            font-size: 1.25em;
            font-family: 'Georgia', serif;
            letter-spacing: 0.1em;

            span {
                display: inline-block;
                white-space: nowrap;
            }
        }
        .details-text {
            max-width: 40em;
            margin: 0 auto;
            padding: 0.5em 0;

            p {
                font-size: 1em;
                text-align: left;
                padding: 0 0.75em;
                letter-spacing: 0.1em;
            }
        }
    }
}
