html { 
  background: url(../images/nyugati-large.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    color: white;
    background: transparent;
    text-align: center;
}

h1 {
   color: white; 
   background: black; 
   margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

#welcome-text {
    font-size: 1.25em;

    p {
        background: rgba(0,0,0,0.6);
        width: auto;
    }
    p:nth-of-type(1) {
        font-size: 2em; 
        font-family: 'Georgia', sans-serif;
    } 
    p:nth-of-type(2) {
        font-size: 2.2em; 
        font-family: 'Verdana', sans-serif;
    } 
    p:nth-of-type(3) {
        font-size: 1.5em; 
        font-family: 'Georgia', serif;
    } 
}

#nav {
    font-size: 3em;
    font-family: "Lucida Console", Monaco, monospace;

    ol {
        margin: 0;
    }

    li {
        display: inline-block;
        padding: 0.5em 0.25em;
        background: rgba(0,0,0,0.6);

        span {
            font-size: 1.5em;
            padding: 0.1em 0.25em;
            border-bottom: 3px solid white;  
        }

        &:hover {
            background: rgba(0,0,0,0.7);
            cursor: pointer;
        }
    }
}

#projects {
    ol {
        margin: 0;
        list-style-type: none;

        li {
            font-size: 1em;
            color: inherit;            
            background: rgba(0,0,0,0.8);

            border: 0;
            margin-top: -1px;
            padding: 0.5em 0; 

            &:nth-of-type(1) {
                color: inherit;            
                background: rgba(0,0,0,0.3);
            } 
            &:nth-of-type(2) {
                color: inherit;            
                background: rgba(54, 52, 47, 0.7);
            } 
            &:nth-of-type(3) {
                color: inherit;            
                background: rgba(0,0,0,0.7);
            } 

            &:hover {
                color: inherit;            
                background: rgba(0,0,0,0.9);

                cursor: pointer;
            }

            p {
                // margin: 0.25em 0;
                line-height: 1.2;

                &.project-title {
                    font-size: 2em;
                    letter-spacing: 0.05em;
                    color: inherit;
                    background: rgba(0,0,0,0.9);
                }
                &.project-description {
                    font-size: 1.25em;
                    font-family: 'Helvetica Neue', sans-serif;
                    letter-spacing: 0.01em;
                    // font-weight: lighter;
                }
                &.project-tags {
                    color: rgb(191, 191, 192);
                    font-size: 1em;
                    font-family: 'Georgia', serif;
                    letter-spacing: 0.1em;
                }
            }
        }
    }
}