/.sass-cache/*
*.DS_Store
/design/
/_site/

# Bower component includes
/bower_components/*
## modernizr.js
!/bower_components/modernizr/
/bower_components/modernizr/*
!/bower_components/modernizr/modernizr.js

## jquery.min.js
!/bower_components/jquery/
/bower_components/jquery/*
!/bower_components/jquery/dist/
/bower_components/jquery/dist/*
!/bower_components/jquery/dist/jquery.min.js

## foundation.min.js
!/bower_components/foundation/
/bower_components/foundation/*
!/bower_components/foundation/js/
/bower_components/foundation/js/*
!/bower_components/foundation/js/foundation.min.js

# foundation.clearing.js
!/bower_components/foundation/js/foundation/
/bower_components/foundation/js/foundation/*
!/bower_components/foundation/js/foundation/foundation.clearing.js
