/* line 1, ../scss/styles.scss */
html {
  background: url(../images/nyugati-large.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 9, ../scss/styles.scss */
body {
  color: white;
  background: transparent;
  text-align: center;
}

/* line 15, ../scss/styles.scss */
a {
  color: inherit;
  text-decoration: none;
}

/* line 20, ../scss/styles.scss */
#welcome-text {
  font-size: 1.25em;
}
/* line 23, ../scss/styles.scss */
#welcome-text p {
  background: rgba(0, 0, 0, 0.6);
  width: auto;
}
/* line 27, ../scss/styles.scss */
#welcome-text p:nth-of-type(1) {
  font-size: 2em;
  font-family: 'Georgia', sans-serif;
}
/* line 31, ../scss/styles.scss */
#welcome-text p:nth-of-type(2) {
  font-size: 2.2em;
  font-family: 'Verdana', sans-serif;
}
/* line 35, ../scss/styles.scss */
#welcome-text p:nth-of-type(3) {
  font-size: 1.5em;
  font-family: 'Georgia', serif;
}

/* line 41, ../scss/styles.scss */
#nav {
  font-size: 3em;
  font-family: "Lucida Console", Monaco, monospace;
}
/* line 45, ../scss/styles.scss */
#nav ol {
  margin: 0;
}
/* line 49, ../scss/styles.scss */
#nav li {
  display: inline-block;
  padding: 0.5em 0.25em;
  background: rgba(0, 0, 0, 0.6);
}
/* line 54, ../scss/styles.scss */
#nav li span {
  font-size: 1.5em;
  padding: 0.1em 0.25em;
  border-bottom: 3px solid white;
}
/* line 60, ../scss/styles.scss */
#nav li:hover {
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
